.search {
  width: 100%;
  margin-top: .5em;
  margin-bottom: .5em;
  display: flex;
  flex-direction: row;
  gap: .5em;
}

.search input {
  border: 1px solid var(--gray);
  background-color: var(--light-gray);
  flex: 1;
  height: 1.75rem;
  padding-left: .5em;
  padding-right: .5em;
  font-size: .9em;
}

.search .select-uncollected {
  padding: .5em 1em .5em 1em;
  font-size: .9em;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-size: .8em;
}

.found-seals {
  max-height: calc(50svh - 3em - 4em);
  max-width: calc(100svw);
  width: 100em;
  position: absolute;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray);
  background-color: var(--white);
  border-radius: .4rem;
}

.found-seal{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4em;
  width: 100%;
  border-bottom: 1px solid var(--gray);
}

.found-seal img {
  height: 100%;
  width: 3em;
  object-fit: scale-down;
}

.found-seal .found-seal-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
  padding: .5em;
}

.found-seal .found-seal-info .seal-no {
  font-size: .5em;
  border-radius: .5rem;
  padding: .1em .5em .1em .5em;
  background-color: var(--light-gray);
  border: 1px solid var(--gray);
}

.found-seal .found-seal-info .seal-name {
}

.found-seal .found-seal-info .seal-series {
  font-size: .5em;
}

.found-seal:hover {
  background-color: rgba(0,0,0,.15);
  cursor: pointer;
}

.invisible {
  display: none;
}


.found-sellers {
  height: auto;
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  border: 1px solid var(--gray);
  border-radius: .4rem;
  border-spacing: 0;
}

.found-sellers th {
  background-color: var(--light-gray);
}

.found-sellers td {
  padding-left: .5em;
  padding-right: .5em;
}

.found-sellers th, .found-sellers td{
  height: 2em;
  border: 1px solid var(--gray);
  box-sizing: border-box;
}

.seller-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.seller-recent-login {
  width: 6em;
}

.selling-what-i-need {
}



@media (max-width: 768px) {
  .found-seals {
    width: calc(100svw - 3em);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .found-seals {
    width: 768px;
  }
}

@media (min-width: 1025px) {
  .found-seals {
    width: 1024px;
  }
}