:root {
  --red: #ff6060;
  --white: #ffffff;
  --gray: rgb(163, 163, 163);
  --light-gray: rgb(241, 241, 241);
  --dark-gray: rgb(80, 80, 80);
}

p {
  margin: 0;
}

body {
  margin:0 ;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  background-color: inherit;
  border: inherit;
  padding: 0;
  margin: 0;
}

input {
  font-size: inherit;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'NanumSquareEB';
  src: url('./font/NanumSquareEB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareB';
  src: url('./font/NanumSquareB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareR';
  src: url('./font/NanumSquareR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareL';
  src: url('./font/NanumSquareL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}