.app {
  font-family: 'NanumSquareR', sans-serif;
  user-select: none; 
}

header {
  background-color: var(--red);
  color: var(--white);
  height: 4em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
}

header .nav-bar .title {
  display: flex;
  flex-direction: row;
  gap: 1em;
  
  font-size: 2em;
  font-family: 'NanumSquareEB';
}

header .nav-bar .btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: .5em;
}

header .nav-bar .btns .red-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5em;
  height: 2em;
  width: 2em;
}

header .nav-bar .btns .red-btn span{
  font-size: 1.25em;
}

header .nav-bar .btns .red-btn p{
  font-size: .75em;
  display: none;
}



.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  padding-left: 1em;
  padding-right: 1em;

  height: calc(100svh - 3em - 3em - 0.16em);
}



footer {
  border-top: 1px solid rgba(0,0,0,.1);
	bottom: 0;
	position: relative;
  display: flex;
  flex-direction: row;
}

footer .btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer .red-btn {
  color: var(--gray);
  background-color: var(--white);
  border-radius: 0em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .1em;
  width: auto;
  height: 100%;
}

footer .red-btn span{
  font-size: 1.5em;
}

footer .red-btn p{
  display: flex;
  flex-direction: column;
  font-size: .6em;
}

footer .red-btn:hover {
  background-color: var(--white);
}



@media (max-width: 768px) {
  header {
    height: 3em;
  }
  header .nav-bar, .page > div {
    width: 100%;
  }
  header .nav-bar .title {
    font-size: 1.5em;
  }
  header .nav-bar .btns {
    display: none;
  }
  body {
    min-height: calc(100svh - 3em - 3em);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  header .nav-bar, .page > div {
    width: 768px;
  }
}

@media (min-width: 1025px) {
  header .nav-bar, .page > div {
    width: 1024px;
  }
}