:root {
  --red: #ff6060;
  --dark-red: #ff3535;
  --white: #ffffff;
  --gray: rgb(163, 163, 163);
  --light-gray: rgb(241, 241, 241);
  --dark-gray: rgb(80, 80, 80);
}



p {
  margin: 0;
}

body {
  margin:0 ;
}

a {
  text-decoration: none;
  color: inherit;
}



input {
  border: 1px solid var(--gray);
  border-radius: .4rem;
  outline: none;
}
input:focus {
  border: 1px solid var(--red);
}





button {
  padding: 0;
  margin: 0;
  border-radius: .4rem;
}

.red-btn {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid rgba(255,255,255,.5);
  border-radius: .4rem;
}
.red-btn:hover {
  background-color: var(--dark-red);
  cursor: pointer;
}

.gray-btn {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  border: 1px solid var(--gray);
  border-radius: .4rem;
}
.gray-btn:hover {
  background-color: rgba(0,0,0,.1);
  cursor: pointer;
}

.deactivated-btn {
  background-color: var(--light-gray);
  color: var(--gray);
  border: 1px solid var(--gray);
}





@font-face {
  font-family: 'NanumSquareEB';
  src: url('./font/NanumSquareEB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareB';
  src: url('./font/NanumSquareB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareR';
  src: url('./font/NanumSquareR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareL';
  src: url('./font/NanumSquareL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}